<form [formGroup]="zipFormGroup" (ngSubmit)="onSubmit()" class="form-group" #login="ngForm">
  <h2>Enter US ZIP Code:</h2>
  <div>
    <mat-form-field class="form-item">
      <mat-label>5 Digit ZIP Code</mat-label>
      <input
        type="text"
        matInput
        formControlName="zipFormControl"
        placeholder="Example: 90210"
        maxlength="5"
      />
      <mat-hint>Enter a valid ZIP code</mat-hint>

      <mat-error
        *ngIf="
          f['zipFormControl'].errors && f['zipFormControl'].errors['required']
        "
      >
        ZIP code is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="
          f['zipFormControl'].errors && (f['zipFormControl'].errors['pattern'])
        "
      >
        ZIP code must be <strong>5 digits</strong>
      </mat-error>
    </mat-form-field>
    <button
      class="form-item"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!zipFormGroup.valid"
    >
      Submit
    </button>
  </div>
</form>
